<div class="container" style="margin-top: 5%">
    <table class="u-full-width zebra-striped">
        <thead>
            <tr>
                <th></th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>10:00</th>
                <td>{{sun10}}</td>
                <td>{{mon10}}</td>
                <td>{{tue10}}</td>
                <td>{{wed10}}</td>
                <td>{{thu10}}</td>
                <td>{{fri10}}</td>
                <td>{{sat10}}</td>
            </tr>
            <tr>
                <th>11:00</th>
                <td>{{sun11}}</td>
                <td>{{mon11}}</td>
                <td>{{tue11}}</td>
                <td>{{wed11}}</td>
                <td>{{thu11}}</td>
                <td>{{fri11}}</td>
                <td>{{sat11}}</td>
            </tr>
            <tr>
                <th>12:00</th>
                <td>{{sun12}}</td>
                <td>{{mon12}}</td>
                <td>{{tue12}}</td>
                <td>{{wed12}}</td>
                <td>{{thu12}}</td>
                <td>{{fri12}}</td>
                <td>{{sat12}}</td>
            </tr>
            <tr>
                <th>13:00</th>
                <td>{{sun13}}</td>
                <td>{{mon13}}</td>
                <td>{{tue13}}</td>
                <td>{{wed13}}</td>
                <td>{{thu13}}</td>
                <td>{{fri13}}</td>
                <td>{{sat13}}</td>
            </tr>
            <tr>
                <th>14:00</th>
                <td>{{sun14}}</td>
                <td>{{mon14}}</td>
                <td>{{tue14}}</td>
                <td>{{wed14}}</td>
                <td>{{thu14}}</td>
                <td>{{fri14}}</td>
                <td>{{sat14}}</td>
            </tr>
            <tr>
                <th>15:00</th>
                <td>{{sun15}}</td>
                <td>{{mon15}}</td>
                <td>{{tue15}}</td>
                <td>{{wed15}}</td>
                <td>{{thu15}}</td>
                <td>{{fri15}}</td>
                <td>{{sat15}}</td>
            </tr>
            <tr>
                <th>16:00</th>
                <td>{{sun16}}</td>
                <td>{{mon16}}</td>
                <td>{{tue16}}</td>
                <td>{{wed16}}</td>
                <td>{{thu16}}</td>
                <td>{{fri16}}</td>
                <td>{{sat16}}</td>
            </tr>
            <tr>
                <th>17:00</th>
                <td>{{sun17}}</td>
                <td>{{mon17}}</td>
                <td>{{tue17}}</td>
                <td>{{wed17}}</td>
                <td>{{thu17}}</td>
                <td>{{fri17}}</td>
                <td>{{sat17}}</td>
            </tr>
            <tr>
                <th>18:00</th>
                <td>{{sun18}}</td>
                <td>{{mon18}}</td>
                <td>{{tue18}}</td>
                <td>{{wed18}}</td>
                <td>{{thu18}}</td>
                <td>{{fri18}}</td>
                <td>{{sat18}}</td>
            </tr>
        </tbody>
    </table>
</div>