<div class="container" style="margin-top: 5%">
    <table class="u-full-width zebra-striped">
        <thead>
            <tr>
                <th></th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>10:00</th>
                {{#each caldata.10x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>11:00</th>
                {{#each caldata.11x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>12:00</th>
                {{#each caldata.12x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>13:00</th>
                {{#each caldata.13x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>14:00</th>
                {{#each caldata.14x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>15:00</th>
                {{#each caldata.15x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>16:00</th>
                {{#each caldata.16x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>17:00</th>
                {{#each caldata.17x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <th>18:00</th>
                {{#each caldata.18x}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>